<!DOCTYPE html>
<html>
    <head>
        <title>NOW</title>
        <link rel="stylesheet" href="/CSS/signup.css">
    </head>
    <body>
       
       
            
            
            <div class="signup">
                <a href="/home" style="background-color: white;" class="aa">
                    <img src="/img/logo.jpg" alt="logo" width="390px">
                </a>
                <br>
                <br>
                

                
                        <form action="/mypage/<%=nickname%>" method="post">
                            <span>작성자</span>

                            <input value="<%=nickname%>" type="submit" name="post_title" id="post_title" style="border: none; cursor: pointer; background-color: white; color: #ef952c; font-weight: 900; font-size: 15px;">

                        </form>
                        <br>
                    <form>
                        <div class="form-group">
                            <span style="white-space: nowrap;">제목</span>
                            <input value="<%=title%>" class="form-field" type="text" name="post_title" id="post_title" readonly>
                        </div>
                        <div class="form-group">
                            <span>내용</span>
                            <textarea rows="4" cols="30" class="form-field" type="text" name="post_content" id="post_content" readonly
                            style="width: 100%; height: 200px; resize: none;"><%=content%></textarea>
                        </div>
                    
                        <div class="form-group">
                            
                            <input value="<%= id  %>" class="form-field" type="text" name="post_title" id="post_title" readonly>
                            <span>번 째 글입니다.</span>
                        </div>
                    </form>
                    
                
                



                <br>

                <div class="like_button">
                    
                    <%if(like.length>0){%>
                        <p>좋아요 <b style="color: #000;"><%=like.length%></b>개 </p>
                    <%}else{%>
                        <p>좋아요 <b style="color: #000;">0</b>개</p>
                    <%}%>
                    <form action="/like" method="POST">
                            <button type="submit" class="like_button"><img src="https://img.icons8.com/external-those-icons-fill-those-icons/24/000000/external-like-touch-gestures-those-icons-fill-those-icons.png"/></button>
                    </form>
                    
                </div>
                


                <br>
                <p>댓글 <b style="color: #000;"><%=comment.length%></b>개 </p>
                <hr style="margin-top: 5px; background-color: #ef952c; border: 1px solid #ef952c;">
                <br>
                <% for(i = 0; i < comment.length; i++) { %>
                   
                            <div style="display: flex;">
                                <form action="/mypage/<%=comment[i].nickname%>" method="post">
                                    <input value="<%=comment[i].nickname%>" type="submit" name="post_title" id="post_title" style="font-size: 15px; border: none; cursor: pointer; background-color: white; color: #ef952c; font-weight: 900;">
                                </form>
                                <form action="/comment/delete/<%=comment[i].comment_id%>" method="post">
                                    <button style="border: none; cursor: pointer; background-color: white; margin-left: 5px;"><img width="10px" src="https://cdn.zeplin.io/609baf49911d5b01a5433e14/assets/BC0A8393-F83C-4593-9D63-9D3E056E32F5.svg" alt=""></button>
                                </form>
                                
                            </div>
                            <details>
                                <summary style="display: block;">
                                    <p style="margin-left: 7px;"><%=comment[i].comment%></p>
                                    <p style="cursor: pointer; font-size: 12px; color: #5c5c5c; margin-left: 7px;">대댓글</p>
                                </summary>
                                <%if(reply.length>0){%>
                                    <%for(j=0; j < reply.length; j++){%>
                                        
                                        <%if(comment[i].comment_id===reply[j].reply_id){%>
                                            <div style="display: flex; margin-top: 20px;">
                                                <form action="/mypage/<%=reply[j].reply_nickname%>" method="post">
                                                    <input value="<%=reply[j].reply_nickname%>" type="submit" name="post_title" id="post_title" style="font-size: 15px; border: none; cursor: pointer; background-color: white; color: #ef952c; font-weight: 900; margin-left: 20px;">
                                                </form>
                                                <form action="/reply/delete/<%=reply[j].id%>" method="post">
                                                    <button style="border: none; cursor: pointer; background-color: white;"><img width="10px" src="https://cdn.zeplin.io/609baf49911d5b01a5433e14/assets/BC0A8393-F83C-4593-9D63-9D3E056E32F5.svg" alt=""></button>
                                                </form>
                                            </div>
                                            
                                            <p style="margin-left: 30px;"><%=reply[j].reply_content%></p> <br>
                                        <%}%>
                                    <%}%>

                                <%}else{%>
                                    <p style="font-size: 12px; color: #adadad; margin-left: 20px;">대댓글이 없습니다.</p>
                                <%}%>
                                <form action="/reply/<%=comment[i].comment_id%>" method="POST">
                                    <div class="form-group">
                                        <input type="text" name="reply" placeholder="대댓글을 달아보세요" style="width: 300px;">

                                    </div>
                                </form>
                            </details>
                            
                           
                                <br>
                            
                           
                    <% } %>
                    <hr style="margin-top: 5px; background-color: #ef952c; border: 1px solid #ef952c;">

                    <br>
                    
                <form action="/comment" method="post">
                    <div class="form-group">
                        
                        <input class="form-field" type="text" name="comment" id="comment" placeholder="댓글을 입력해주세요." required>
                    </div>
                    
                    <button type="submit">댓글 달기</button>
                </form>

                
                
               
                




                <form action="/update" method="get">
                    
                        <button type="submit">수정</button>
                   
                </form>
                <form action="/delete" method="post">
                    <button type="submit" style="background-color: rgb(172, 172, 172);">삭제</button>
                </form>
                <form action="/post" method="get">
                    <button type="submit" style="background-color: rgb(172, 172, 172);">뒤로가기</button>
                </form>
            </div>
            
     
        
        
    </body>
    
</html>