<!DOCTYPE html>
<html>
    <head>
        <title>NOW</title>
        <link rel="stylesheet" href="/CSS/signup.css">
    </head>
    <body>
       
       
            
            
            <div class="signup">
                <img src="/img/logo.jpg" alt="logo">
                <br>
                <br>
                

                
                <form>
                    <div class="form-group">
                        <span style="white-space: nowrap;">제목</span>
                        <input value="<%=title%>" class="form-field" type="text" name="post_title" id="post_title" readonly>
                    </div>
                    <div class="form-group">
                        <span>내용</span>
                        <textarea rows="4" cols="30" class="form-field" type="text" name="post_content" id="post_content" readonly
                        style="width: 100%; height: 200px; resize: none;"><%=content%></textarea>
                    </div>
                    <div class="form-group">
                        <span>작성자</span>
                        <input value="<%=nickname%>" class="form-field" type="text" name="post_title" id="post_title" readonly>

                    </div>
                    <div class="form-group">
                        
                        <input value="<%= id  %>" class="form-field" type="text" name="post_title" id="post_title" readonly>
                        <span>번 째 글입니다.</span>
                    </div>
                
                </form>
                <br>

                <p>댓글 갯수 : <b style="color: #000;"><%=comment.length%></b> </p>
                <hr style="margin-top: 5px; background-color: #ef952c; border: 1px solid #ef952c;">
                <br>
                <% for(i = 0; i < comment.length; i++) { %>
                   
                            <div style="display: flex;">
                                <p style="color: #adadad;"><%=comment[i].nickname%></p>
                                <form action="/comment/delete/<%=comment[i].comment_id%>" method="post">
                                    <button style="border: none; cursor: pointer; background-color: white; margin-left: 5px;"><img width="10px" src="https://cdn.zeplin.io/609baf49911d5b01a5433e14/assets/BC0A8393-F83C-4593-9D63-9D3E056E32F5.svg" alt=""></button>
                                </form>
                                
                            </div>
                            <p><%=comment[i].comment%></p>  
                                <br>
                            
                           
                    <% } %>
                    <hr style="margin-top: 5px; background-color: #ef952c; border: 1px solid #ef952c;">

                    <br>
                    
                <form action="/comment" method="post">
                    <div class="form-group">
                        
                        <input class="form-field" type="text" name="comment" id="comment" required>
                    </div>
                    
                    <button type="submit">댓글 달기</button>
                </form>

                
                
               
                




                <form action="/update" method="get">
                    
                        <button type="submit">수정</button>
                   
                </form>
                <form action="/delete" method="post">
                    <button type="submit" style="background-color: rgb(172, 172, 172);">삭제</button>
                </form>
                <form action="/post" method="get">
                    <button type="submit" style="background-color: rgb(172, 172, 172);">뒤로가기</button>
                </form>
            </div>
            
     
        
        
    </body>
</html>